body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #dff2f7;
    flex-direction: column;

}

.card-container {
    perspective: 1000px;
    position: relative;
    width: 300px;
    height: 420px;
    margin: 50px auto;
    text-align: center;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card-side {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
}

.front-side,
.back-side {
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.back-side {
    transform: rotateY(180deg);
    font-size: 24px;
    padding: 20px;
    box-sizing: border-box;
    background-size: cover;
}

.front-side {
    background-image: url('img/card-front.svg');
}

.back-side {
    max-width: 300px;
    background-image: url('img/card-back.svg');
    transform: rotateY(180deg);
}

#top-card {
    z-index: 2;
}

#bottom-card {
    z-index: 1;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #32405d;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 20px;
    font-size: 16px;
    font-family: Montserrat;
    font-size: 1.2em;
    font-weight: 800;
}

button:hover {
    background-color: #3a89c4;
}

p {
    color: #32405d;
    font-family: Montserrat;
    font-size: 0.75em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 16px;
    margin-top: 0;
    padding-top: 0;
}

h2 {
    color: #32405d;
    font-family: Montserrat;
    font-size: 0.8em;
    font-weight: 800;
}