    body,
    html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #dff2f7;
}

.card-container {
    text-align: center;
    perspective: 1000px;
    width: 300px;
    height: 420px;
    position: relative;
    margin: 50px auto;
}

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card-side {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.front-side,
.back-side {
    background-color: white;
    width: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
}

.front-side {
    /* Adjust as needed for your card-front.svg */
}

.back-side {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 20px;
    box-sizing: border-box;
    background-size: cover;
}

.front-side {

    background-image: url('card-front.svg');
}

.back-side {
    max-width: 300px;
    background-image: url('card-back.svg');
    transform: rotateY(180deg);
}

.card.flipped {
    transform: rotateY(180deg);
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #32405d;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 20px;
    font-size: 16px;
    font-family: Montserrat;
    font-size: 1.2em;
    font-weight: 800;
}

button:hover {
    background-color: #3a89c4;
}

p {
    color: #363587;
    font-family: Montserrat;
    font-size: 1em;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 16px;
}
